.container {
  display: flex;
  margin: 100px 0;
  justify-content: center;
}

.counter{
  width: 200px
}

.top {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 100px 0;
}

.time-form {
  margin: 0 30px;
  width: 50px;
  height: 30px;
  text-align: center;
}

.error {
  text-align: center;
  color: red;
}